<!-- const recipeSchema = ({
    name:{
        type: String,
        required: true,
    },
    instructions:{
        type: String,
        required: false,
    },
    owner:{
        type: mongoose.Schema.Types.ObjectId,
        required: true,
    },
    ingredients:{
        type:[mongoose.Schema.Types.ObjectId],
        required: false,
    }
}) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/recipes" method="POST">

        <label for="name">Recipe name:</label>
        <input type="text" name="name" id="name">
        <br>
        

        <label for="instructions">Instuctions:</label>
        <br>
        <textarea name="instuctions" id="instrutions" rows="20" cols="50">Write steps here</textarea>


        <button type="submit">Let's cook!</button>
    </form>
</body>
</html>

